.Service {
  display: flex;
  height: 857px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
}
#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin: 0px;
  text-decoration: none;
  /* height: 60%; */
  width: 100%;
}
#home::before {
  content: "";
  position: absolute;
  background: url(../images/food1.jpg) no-repeat center center/cover;
  z-index: -1;
  opacity: 0.2;
  height: 380px;
  width: 100%;
}
#home p {
  font-size: 1.3rem;
  color: black;
  padding: 9px;
  margin: 13px;
  text-align: center;
}
#home p {
  font-size: 1rem;
  padding: 3px;
  margin: 3px;
}

#navbar {
  display: flex;
  position: sticky;
  top: 0px;
  border-radius: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.logo {
  justify-content: center;
  align-items: center;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 13px;
  color: black;
  flex-wrap: wrap;
}
.our-clients {
  margin: 2px;
}
.Service {
  height: 1000px;
}

#navbar ul li {
  list-style: none;
  font-size: 1rem;
}
#navbar ul li a {
  color: white;
  margin: 1px 2px;
  padding: 2px;
  border-radius: 20px;

  align-items: center;
}
.footer {
  padding: 5px;
  margin: 1px;
}
