/* CSS Reset  */
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
.no-tailwind {
  all: unset;
}

.favicon img {
  border-radius: 50px;
}
/* Navbar */

#navbar::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
}

#navbar {
  display: flex;
  position: sticky;
  top: 0px;
  border-radius: 50%;
}

#logo {
  margin: 0px 20px;
}

#logo img {
  height: 40px;
  margin: 3px 16px;
  border-radius: 50px;
}
.textnone {
  text-decoration: none;
}

#navbar ul {
  display: flex;
  align-items: center;
}

#navbar ul li {
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a {
  color: white;
  margin: 7px;
  padding: 0px;
  border-radius: 20px;

  align-items: center;
}

#navbar ul li a:hover {
  background-color: white;
  color: black;
}

/* section */

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
}
#home::before {
  content: "";
  position: absolute;
  background: url(../images/food1.jpg) no-repeat center center/cover;
  z-index: -1;
  opacity: 0.2;
  height: 400px;
  width: 100%;
}
#home h1 {
  font-size: 1.9rem;
  color: black;
  padding: 10px;
  margin: 10px;
}

#home p {
  font-size: 1.3rem;
  color: black;
  padding: 5px;
  margin: 5px;
}
.btn {
  padding: 7px 25px;
  margin: 5px;
  font-size: 1rem;
  background-color: black;
  color: white;
  border-radius: 20px;
}

/* Services */

.services-container {
  margin-top: 11%;
}
.services-container h1 {
  margin-top: 2%;
  color: black;
  margin: auto;
  position: relative;
  text-align: center;
  text-underline-offset: unset;
}
.Service {
  display: flex;
  height: 400px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.box {
  height: 300px;
  width: 400px;
  border: solid black 2px;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  background: linear-gradient(rgb(250, 250, 141), rgb(134, 134, 246));
}
.box img {
  height: 150px;
  width: 150px;
  margin: 5px;
  border-radius: 25px;
}
.box h1 {
  padding: 5px;
  margin: 5px;
}
.box p {
  padding: 5px;
  margin: 10px;
}

/* client section */
.our-clients h1 {
  text-align: center;
}
.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
  color: black;
}
.client-box {
  padding: 5px;
  margin: 10px;
  border: solid black 2px;
  border-radius: 15px;
}

/* Contact */
.contact {
  height: 100%;
  width: 100%;
}
.contact-box::before {
  content: "";
  height: 350px;
  width: 100%;
  position: absolute;
  z-index: -1;
  opacity: 0.7;
  background: url(../images/contact1.jpg) no-repeat center center/cover;
}
.contact h1 {
  text-align: center;
  padding: 5px;
  margin: 10px;
}
.contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  margin: 2px 2px;
  width: 99%;
  height: auto;
}
.form-group {
  width: 100%;
  height: auto;
  padding: 0px 2px;
  margin: 2px;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}
.form-width {
  width: 100%;
  height: auto;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin: 10px;
  color: white;
  background-color: rgb(39, 37, 37);
}
